@font-face {
    font-family: 'HelveticaNeueLTW01-55Roman';
    src: url('../fonts/HelveticaNeueLTW01-55Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTW01-55Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueLTW01-55Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}